{% extends 'accounts/base.html' %}

{% block content %}
{% if error %}
<p><strong>Invalid email or password.</strong></p>
{% endif %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card p-4" style="width: 50%;">
            <h2>Sign Up</h2><br>
            <form method="post">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}