{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Stiletto Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand navbar-light" style="background-color: #fdf5e7;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <picture>
                    <img src='{% static "logo.png" %}' alt="Hi!" class="img-fluid" alt="image desc"
                        style="width:70px;height:65px; margin-left: 10px;">
                </picture>
            </a>
            <div class="navbar-brand" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="d-flex btn btn-outline-success" type="submit"
                style="border-color: #a86c0c;color: #a86c0c;">Logout</button>
        </div>
    </nav>
    <br>
    <br>
    <div class="container mx-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Tradingview</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="alerts-tab" data-bs-toggle="tab" data-bs-target="#alerts" type="button"
                    role="tab" aria-controls="alerts" aria-selected="false">Alerts</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button"
                    role="tab" aria-controls="history" aria-selected="false">History</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <br>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form action="{% url 'submitalert' %}" method="post">
                    {% csrf_token %}
                    <div class="mx-auto" style="width: 70%;">
                        <div class="form-check">
                            {{signalform.telegram_enabled}}
                            <label class="form-check-label" for="flexCheckChecked">
                                Send to Telegram
                            </label>
                        </div>
                        <div id="tgoptions">
                            <div class="input-group mb-3" style="width: 100%;">
                                {{signalform.channel_invite_link}}
                            </div>
                            <div class="row">
                                <div class="input-group col-auto mx-auto" style="width: 50%;height:120px">
                                    {{signalform.message_prefix}}
                                </div>
                                <div class="input-group col-auto mx-auto" style="width: 50%;height:120px">
                                    {{signalform.message_suffix}}
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                        <br>
                        <div class="form-check">
                            {{signalform.binance_enabled}}
                            <label class="form-check-label" for="flexCheckChecked">
                                Binance API(Spot)
                            </label>
                        </div>
                        <div id="boptions">
                            <div class="input-group mb-3" style="width: 100%;">
                                {{signalform.binance_api_key}}
                            </div>
                            <div class="input-group mb-3" style="width: 100%;">
                                {{signalform.binance_api_hash}}
                            </div></div>
                            <input type="submit" value="Submit" class="btn btn-info">
                    </div>
                </form>
                    <br>
                    <br>
            </div>
        <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
            <div class="mx-auto"style="width: 90%;">
                <div class="row">
                    {% for d in signals %}
                        <div class="col-lg-3 col-md-6 my-3">
                            <div class="card text-center" style="width: 100%;">
                                <div class="card-body ">
                                    <h5 class="card-text"># {{ d.id }}</h5>
                                    <p class="card-text">{{ d.channel_invite_link }}</p>
                                    <br>
                                    <p class="card-text">Telegram Enabled: {% if d.telegram_enabled %}<span style="color:green;">✓</span>{% else %}<span style="color:red;">✗</span>{% endif %}</p>
                                    <p class="card-text">Binance Enabled: {% if d.binance_enabled %}<span style="color:green;">✓</span>{% else %}<span style="color:red;">✗</span>{% endif %}</p>
                                    <br>
                                    {% if d.telegram_enabled %}
                                        <p class="card-text">Message Prefix: {{ d.mp }}</p>
                                        <p class="card-text">Message Suffix: {{ d.ms }}</p>
                                    {% endif %}
                                    <a href="" class="btn btn-primary">Get Webhook Link</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">...</div>
    </div>
    </div>
</body>
<script>
    function showtg() {
        var htmlShow = document.getElementById("tgoptions");
        if (htmlShow.style.display === "none") {
            htmlShow.style.display = "block";
        } else {
            htmlShow.style.display = "none";
        }
    }
    function showbinance() {
        var htmlShow = document.getElementById("boptions");
        if (htmlShow.style.display === "none") {
            htmlShow.style.display = "block";
        } else {
            htmlShow.style.display = "none";
        }
    }

    function submitNew() {
        const data = {
            tgenabled: document.getElementById("tgenabled").value,
            tgprefix: document.getElementById("tgprefix").value,
            tgsuffix: document.getElementById("tgsuffix").value,
            tginvitelink: document.getElementById("tginvitelink").value,
            be: document.getElementById("binance_enabled").value,
            bapi: document.getElementById("binance_api_key").value,
            bhash: document.getElementById("binance_api_hash").value
        };
        fetch("{% url 'submitalert' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });
    }
</script>

</html>